.homepage_calendar {
  background: white;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-color: red;
}
.homepage_calendar .react-calendar--doubleView {
  width: 700px;
  margin: 0 auto;
}
.homepage_calendar .react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  width: 700px;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
}
.homepage_calendar
  .react-calendar--doubleView
  .react-calendar__viewContainer
  > * {
  width: 322px;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.homepage_calendar .react-calendar button {
  margin: 0;
  border: 1px solid #ebebeb;
  outline: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.homepage_calendar abbr {
  font-size: 14px;
}
.homepage_calendar .react-calendar button:enabled:hover {
  cursor: pointer;
}

.homepage_calendar .react-calendar__navigation {
  display: flex;
  width: 640px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (max-width: 1280px) {
  .homepage_calendar .react-calendar__navigation {
    width: 100%;
  }
  .homepage_calendar
    .react-calendar--doubleView
    .react-calendar__viewContainer {
    width: 100%;
  }
  .homepage_calendar
    .react-calendar--doubleView
    .react-calendar__viewContainer
    > * {
    width: 100%;
  }
}
.homepage_calendar .react-calendar__navigation button {
  min-width: 40px;
  background: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.homepage_calendar .react-calendar__navigation__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage_calendar .react-calendar__navigation__label__divider {
  display: flex;
}
.homepage_calendar .react-calendar__navigation__prev2-button,
.homepage_calendar .react-calendar__navigation__next2-button {
  display: none;
}

.homepage_calendar .react-calendar__navigation__label__labelText--to {
  margin-right: 72px;
}
.homepage_calendar .react-calendar__navigation__label__labelText--from {
  margin-left: 72px;
}
@media (max-width: 1280px) {
  .homepage_calendar .react-calendar__navigation button {
    width: auto;
  }
  .homepage_calendar .react-calendar__navigation__label__labelText--to {
    margin-right: 72px;
  }
  .homepage_calendar .react-calendar__navigation__label__labelText--from {
    margin: 0;
  }
  .homepage_calendar .react-calendar__navigation__next2-button {
    background-color: red;
  }
}

.homepage_calendar
  .react-calendar__navigation
  button:enabled:hover
  > .calendar-arrow {
  color: #333;
}

.homepage_calendar .react-calendar__month-view__weekdays__weekday {
  font-size: 12px;
  line-height: 16px;
  color: #828282;
}
.homepage_calendar
  .react-calendar__month-view__weekNumbers
  .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage_calendar .react-calendar__month-view__days__day {
  font-size: 14px;
  line-height: 14px;
  color: #333;
  width: 44px;
  height: 44px;
  border-radius: 0;
}

.homepage_calendar .react-calendar__year-view .react-calendar__tile,
.homepage_calendar .react-calendar__decade-view .react-calendar__tile,
.homepage_calendar .react-calendar__century-view .react-calendar__tile {
  padding: 0;
}
.homepage_calendar .react-calendar__tile {
  max-width: 100%;
  padding: 0;
  background: none;
  text-align: center;
  line-height: 16px;
}

.homepage_calendar .react-calendar__tile--now {
  background: rgba(255, 124, 18, 0.863);
  color: #fff;
  border-radius: 0;
}
.homepage_calendar .react-calendar__tile--hasActive {
  background: #76baff;
  border-radius: 0;
}
.homepage_calendar .react-calendar__tile--hasActive:enabled:hover,
.homepage_calendar .react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
  border-radius: 0;
}
.homepage_calendar .react-calendar__navigation button:enabled:hover,
.homepage_calendar .react-calendar__navigation button:enabled:focus {
  background: none;
}

.homepage_calendar .selected_days {
  background: #46f0fc;
  color: rgb(255, 255, 255);
}
.homepage_calendar .reserved_days_ {
  inset: 0;
  color: #000;
  background: linear-gradient(
    0deg,
    #f06a6a 0%,
    #f06a6a 100%,
    #fff 100%,
    #fff 100%
  );
  pointer-events: none;
}
.homepage_calendar .reserved_days_checkout {
  inset: 0;
  color: #000; /* Tailwind's gray-500 */
  background: linear-gradient(
    -225deg,
    #f06a6a 0%,
    #f06a6a 50%,
    #fff 50%,
    #fff 100%
  );
}

.homepage_calendar .reserved_days_checkin {
  inset: 0;
  color: #000; /* Tailwind's gray-500 */
  background: linear-gradient(
    -45deg,
    #f06a6a 0%,
    #f06a6a 50%,
    #fff 50%,
    #fff 100%
  );
}

.homepage_calendar .selected_check_in {
  inset: 0;
  color: #000; /* Tailwind's gray-500 */
  background: linear-gradient(
    -225deg,
    #fff 0%,
    #fff 50%,
    #46f0fc 50%,
    #46f0fc 100%
  );
}

.homepage_calendar .selected_check_out {
  inset: 0;
  color: #fff; /* Tailwind's gray-500 */
  background: linear-gradient(
    -225deg,
    #46f0fc 0%,
    #46f0fc 50%,
    #fff 50%,
    #fff 100%
  );
}

.homepage_calendar .react-calendar__tile--active:enabled:hover {
  background: #46f0fc;
  color: rgb(255, 255, 255);
}
.homepage_calendar .react-calendar__tile--active {
  inset: 0;
  color: #000;
  background: linear-gradient(
    -225deg,
    #fff 0%,
    #fff 50%,
    #46f0fc 50%,
    #46f0fc 100%
  );
}
.homepage_calendar .react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: linear-gradient(
    -225deg,
    #fff 0%,
    #fff 50%,
    #46f0fc 50%,
    #46f0fc 100%
  );
  color: #000;
}
.homepage_calendar .selected_check_in_out {
  inset: 0;
  color: #000;
  background: linear-gradient(
    -225deg,
    #f06a6a 0%,
    #f06a6a 50%,
    #46f0fc 50%,
    #46f0fc 100%
  );
}
.homepage_calendar .selected_check_out_in {
  background: linear-gradient(
    -225deg,
    #46f0fc 0%,
    #46f0fc 50%,
    #f06a6a 50%,
    #f06a6a 100%
  );
}
