@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: auto;
  overflow: visible;
}
/* html {
  scroll-behavior: smooth;
} */
.swiper-container-custom {
  height: 400px;
}

@media (max-width: 768px) {
  .swiper-container-custom {
    height: 310px;
  }
}
